@media (min-width:1024px) and (max-width:1440px) {
    .main-head{
        font-size: 60px;
    }
    .para{
        font-size: 18px;
    }
}

@media (min-width:1440px) and (max-width:1640px) {
    .main-head{
        font-size: 80px;
    }
    .para{
        font-size: 18px;
    }
}
.main-head{

}