.our-story {
    border-top: 5px solid transparent;
    display: block;
    /* font-family: 'National'; */
    font-size: .95rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 120%;
    margin-bottom: .8rem;
    text-transform: uppercase;
}